<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
     
    </head>
    <body>
        <p id="q"></p>
        <script>
            var N=prompt("Enter the value of n");
            var sum=((2*N)-4)*90;
            // alert(sum);
            document.getElementById("q").innerHTML= "Sum of Interior angles = " + sum;  
        </script>
    </body>
</html>